#board {
    border-collapse:collapse;
}

a {
    text-decoration:none;
    color:blue;
}

html {
    font-family: "Droid Sans", sans-serif;
}

html, #board, [draggable], .tile {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#chat-messages, #number, #name {
    -webkit-touch-callout: default;
    -webkit-user-select: element;
    -khtml-user-select: element;
    -moz-user-select: element;
    -ms-user-select: element;
    user-select: element;

  -moz-user-select: element;
  -khtml-user-select: element;
  -webkit-user-select: element;
  user-select: element;
}

#clear-game, #help-scores, #clear-rack {
    white-space:pre-wrap;
}

[draggable] {
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#help-clear, #help-bag, #help-scores {
    font-size:small
}

#board td {
    text-transform:uppercase;
    border:1px solid #220;
    background:#FFC;
    vertical-align:middle;
    text-align:center;
}

#board td .tile-placeholder {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#board th {
    font-size:small;
    color:gray;
    font-weight:normal
}

.corner {
    visibility:hidden;
    border:none !important
}

.special-cell-tripleWord {
    background:#F77 !important;
    box-shadow: 0 0 1px #F77;
}

.special-cell-tripleLetter {
    background:#77F !important;
    box-shadow: 0 0 1px #77F;
}

.special-cell-doubleLetter {
    background:#7CF !important;
    box-shadow: 0 0 1px #7CF;
}

.special-cell-doubleWord {
    background:#FBB !important;
    box-shadow: 0 0 1px #FBB;
}

.special-cell-label {
    display:inline-block;
    white-space:pre-wrap;
    font-size:7px;
}

#center-cell .special-cell-label {
    font-weight:bold;
    color:black;
    font-size:large
}

body {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row
}

#menu, #panel {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column
}

button {
    margin: 0.25em 0;
    min-height:3em;
    background:#AFA;
    border:1px solid gray;
}

button:hover {
    background:#FD7;
    cursor:pointer
}

#rack {
    background:#EEC;
    font-size:0;
    border-radius:4px;
    display:inline-block;
    padding:2px 5px;
    white-space:pre;
    box-shadow:0 0 2px gray
}

#board td {
    height:32px;
    width: 32px;
}

#rack .tile-placeholder {
    height:32px;
    width: 32px;
}

.tile {
    background-color: #EE8;
    transition:background-color 1s, border 1s;
    display: inline-block;
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    position: absolute;
    border: 1px solid #AA5;
    box-sizing: border-box;
    text-align: center;
    font-size:1rem;
    cursor:pointer
}

.tile.tile-highlight {
    background-color: #FFF;
    font-weight: bold;
    animation: highlight 4s ease-in;
    border: 1px solid black;
}

@keyframes highlight {
    0% {
        background:red;
        color:white;
    }

    100% {
        background:white
    }
}

.tile-score {
    font-size: 0.5em;
    position: absolute;
    bottom: 1px;
    right: 2px;
}

#chat-messages.blink {
    animation:chat-blink 1s
}

td.blink {
    animation:td-blink 1s
}

@keyframes chat-blink {
    0% {
        background:rgba(255, 255, 150, 0);
    }

    50% {
        background:rgba(255, 255, 150, 1);
    }

    100% {
        background:rgba(255, 255, 150, 0);
    }
}


@keyframes td-blink {
    0% {
        background:rgba(100, 200, 255, 0);
    }

    50% {
        background:rgba(100, 200, 255, 1);
    }

    100% {
        background:rgba(100, 200, 255, 0);
    }
}



.tile-target {
    background:rgba(255,255,255, 0.9);
/* } */

/* #bag.tile-target, td .tile-target { */
    outline: 1px solid #F33
}

#rack .tile-placeholder {
    position:relative;
    margin-left:1px;
    margin-right:1px;
    display:inline-block;
    vertical-align:middle;
    background:#CCA;
}

#panel {
    -webkit-justify-content:center;
    justify-content:center;
    text-align:center
}

#bag, #rack-outer {
    -webkit-align-self:center;
    align-self:center;
    text-align:center;
}

#p-name {
    text-align:center;
    font-size:small
}

.minibutton {
    padding:0;
    min-height:0;
    font-size:small
}

.msg-sender {
    color:blue;
}

#chat-messages {
    overflow:auto
}

#bag {
    width:165px;
    height:160px;
    background:url(bag.svg) no-repeat;
    background-size:100% 100%
}

#bag:hover {
    cursor:pointer;
    opacity:0.8
}

#chat-messages {
    border:1px solid silver;
    box-sizing:border-box;
    width: 100%;
    margin-bottom:1px;
    height:15em;
}

#chat-ta {
    width:100%;
    box-sizing:border-box;
    height:3em
}

#participants {
    font-size:small;
    border-collapse:collapse;
    margin:0 auto 1ex auto;
}

#participants th, #participants td {
    border:1px solid gray;
    padding:0.33ex 1ex
}

#participants td:nth-child(3) {
    min-width:4em;
}

#participants td:nth-child(3):hover {
    cursor:pointer;
    background:#FFA
}

#participants th {
    font-weight:normal;
    background:#EEE;
    font-size:smaller
}

#participants-placeholder {
    font-style:italic;
}


@media screen and (max-height:650px) {
    #board td , #rack .tile-placeholder {
        height:28px;
        width: 28px;
    }
}
@media screen and (max-height:600px) {
    #board td , #rack .tile-placeholder {
        height:24px;
        width: 24px;
    }
}

@media screen and (max-height:550px) {
    #chat-messages {
        height:7em;
    }
}

#prefs-sound {
    margin:1ex 0 0 0;
}

#prefs-sound p {
    margin:0;
    padding:0;
    font-size:small
}

#prefs-sound input, #prefs-sound label {
    vertical-align:middle
}
